	    img {
                width: 100%;
            }
            .italic {
                font-style: italic;
            }
            .bold {
                font-weight: 600;
            }
            .italicBold {
                font-style: italic;
                font-weight: 600;
            }
            h1 {
                border-bottom: 1px solid grey;
                padding-bottom: 20px;
            }
            .underlined {
                text-decoration-line: underline;
            }
            .HrLine {
                border-bottom: 1px solid grey;
                padding-bottom: 20px;
            }
            .mark {
                background-color: yellow;
            }
            .strikethrough {
                text-decoration-line: line-through;
            }

            table {
                width: 100%;
                border-collapse: collapse;
            }
            th,
            tr,
            td {
                border-collapse: collapse;
                border: 1px solid;
                padding: 10px;
                text-align: left;
            }
            .Newline {
                display: block;
            }
            .fullheading {
                column-span: all;
            }